body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.container {
    text-align: center;
    background-color: #3366cc;
    padding: 20px;
    border: 2px solid #000;
}

.header {
    background-color: #d3d3d3;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    background-color: #d3d3d3;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.btn:hover {
    background-color: #c0c0c0;
}
